<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner | Generate Short URL</title>
</head>
<body>
    <h1>Welcome to URL Shortner Application :)</h1>

    <h2>Generate Short URL</h2>

    <form action="/urls/generate" method="POST">
        <label for="originalUrl">Original URL</label>
        <input type="text" id="originalUrl" name="originalUrl" required>
        <button type="submit">Generate</button>
    </form>
</body>
</html>