<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner | Home</title>
</head>
<body>
    <h1>Welcome to URL Shortner Application :)</h1>

    <nav>
        <ul>
            <li>
                <a href="/urls">List of URLs</a>
            </li>
            <li>
                <a href="/urls/generate">Generate Short URL</a>
            </li>
            <li>
                <a href="/users/signup">User Signup</a>
            </li>
            <li>
                <a href="/users/signin">User Sign In</a>
            </li>
        </ul>
    </nav>
</body>
</html>