<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner | Home</title>
</head>
<body>
    <h1>Welcome to URL Shortner Application :)</h1>

    <h2>User Sign Up</h2>

    <form action="/users/signup" method="POST">
        <div>
            <label for="firstName">First Name</label><br />
            <input type="text" id="firstName" name="firstName" />
        </div>

        <div>
            <label for="lastName">Last Name</label><br />
            <input type="text" id="lastName" name="lastName" />
        </div>

        <div>
            <label for="email">Email</label><br />
            <input type="email" id="email" name="email" />
        </div>

        <div>
            <label for="password">Password</label><br />
            <input type="password" id="password" name="password" />
        </div>

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>